### Creating an additional population table

Extracting population data from the food balances table in case this data is required for the analysis.

In [195]:
# Import packages
import pandas as pd
import numpy as np 
import requests 
import zipfile
import psycopg2
import sqlalchemy
import _functions_sql as fs
import _functions_data_files as fdf

In [196]:
# Import CSV file
source_dir = 'fao_population'
file_name = 'Population_E_All_Data_(Normalized).csv'
# define converters for 'read_csv' & import file
conv = {
    'Note': str # handle DtypeWarning not using 'low_memory=False' (deprecated)
                # so missing values are now read as empty string ('')
}
population = pd.read_csv(
      fdf.get_file_path(file_name, source_dir)
    , encoding='latin-1'
    , converters=conv
)

In [197]:
population.head()

,Area Code,Area Code (M49),Area,Item Code,Item,Element Code,Element,Year Code,Year,Unit,Value,Flag,Note
0,2,'004,Afghanistan,3010,Population - Est. & Proj.,511,Total Population - Both sexes,1950,1950,1000 No,7480.461,X,
1,2,'004,Afghanistan,3010,Population - Est. & Proj.,511,Total Population - Both sexes,1951,1951,1000 No,7571.537,X,
2,2,'004,Afghanistan,3010,Population - Est. & Proj.,511,Total Population - Both sexes,1952,1952,1000 No,7667.533,X,
3,2,'004,Afghanistan,3010,Population - Est. & Proj.,511,Total Population - Both sexes,1953,1953,1000 No,7764.546,X,
4,2,'004,Afghanistan,3010,Population - Est. & Proj.,511,Total Population - Both sexes,1954,1954,1000 No,7864.285,X,

In [198]:
# Check the date range of the table
population['Year'].value_counts()

Year
2025    1343
2032    1343
2030    1343
2029    1343
2028    1343
        ...
2070     807
2071     807
2072     807
2073     807
2100     807
Name: count, Length: 151, dtype: int64

In [199]:
# Check for full duplicates
population.duplicated().value_counts()

False    169142
Name: count, dtype: int64

Looking at the items contained in the dataset, we can see that area population is included along with the food types. We can separate this information into its own table.

In [200]:
# Getting a list of unique values in the unit column
population['Unit'].unique()

array(['1000 No'], dtype=object)

In [201]:
# Getting a list of unique values in the element column
population['Element'].unique()

array(['Total Population - Both sexes', 'Total Population - Male',
       'Total Population - Female', 'Rural population',
       'Urban population'], dtype=object)

In [202]:
# Drop unneeded columns
population.drop(columns = ['Year Code', 'Area Code (M49)', 'Area Code', 'Item Code', 'Item', 'Element Code', 'Unit', 'Flag', 'Note'], inplace=True)

In [203]:
population = population.pivot_table(index=['Area','Year'],
                    columns='Element', values='Value', aggfunc='sum').reset_index()

In [204]:
population.head(50)

Element,Area,Year,Rural population,Total Population - Both sexes,Total Population - Female,Total Population - Male,Urban population
0,Afghanistan,1950,7286.991,7480.461,3518.202,3962.260,465.127
1,Afghanistan,1951,7352.856,7571.537,3569.936,4001.601,486.654
2,Afghanistan,1952,7425.363,7667.533,3624.224,4043.308,509.617
3,Afghanistan,1953,7504.561,7764.546,3679.045,4085.501,534.035
4,Afghanistan,1954,7590.370,7864.285,3735.084,4129.202,560.077
5,Afghanistan,1955,7682.763,7971.931,3794.838,4177.092,587.818
6,Afghanistan,1956,7781.641,8087.727,3858.490,4229.236,617.389
7,Afghanistan,1957,7886.997,8210.201,3925.235,4284.967,648.810
8,Afghanistan,1958,7998.664,8333.826,3992.345,4341.481,682.282
9,Afghanistan,1959,8116.554,8468.211,4064.438,4403.774,717.891
10,Afghanistan,1960,8240.554,8622.466,4145.945,4476.521,755.797
11,Afghanistan,1961,8370.731,8790.140,4233.771,4556.369,796.033
12,Afghanistan,1962,8507.016,8969.047,4326.881,4642.166,838.852
13,Afghanistan,1963,8649.566,9157.465,4424.511,4732.954,884.388
14,Afghanistan,1964,8798.496,9355.514,4526.691,4828.823,932.865
15,Afghanistan,1965,8954.064,9565.147,4634.341,4930.806,984.350
16,Afghanistan,1966,9113.479,9783.147,4745.981,5037.166,1038.852
17,Afghanistan,1967,9276.202,10010.030,4861.918,5148.111,1096.428
18,Afghanistan,1968,9446.519,10247.780,4983.086,5264.694,1157.827
19,Afghanistan,1969,9630.541,10494.489,5108.507,5385.983,1223.887
20,Afghanistan,1970,9830.690,10752.971,5239.568,5513.404,1295.433
21,Afghanistan,1971,10045.261,11015.857,5372.747,5643.110,1372.564
22,Afghanistan,1972,10267.199,11286.753,5509.781,5776.971,1454.741
23,Afghanistan,1973,10487.151,11575.305,5655.304,5920.001,1540.671
24,Afghanistan,1974,10692.696,11869.879,5803.603,6066.275,1628.845
25,Afghanistan,1975,10872.864,12157.386,5948.268,6209.118,1717.422
26,Afghanistan,1976,11033.148,12425.267,6083.166,6342.102,1807.151
27,Afghanistan,1977,11170.461,12687.301,6214.979,6472.323,1897.077
28,Afghanistan,1978,11255.639,12938.862,6342.838,6596.024,1982.095
29,Afghanistan,1979,11251.885,12986.369,6373.547,6612.822,2054.810
30,Afghanistan,1980,11129.292,12486.631,6136.856,6349.775,2119.078
31,Afghanistan,1981,10891.902,11155.195,5490.160,5665.035,2162.052
32,Afghanistan,1982,10563.504,10088.289,4973.968,5114.320,2186.141
33,Afghanistan,1983,10190.525,9951.449,4916.351,5035.098,2198.744
34,Afghanistan,1984,9834.677,10243.686,5074.600,5169.086,2212.438
35,Afghanistan,1985,9544.582,10512.221,5225.679,5286.542,2238.468
36,Afghanistan,1986,9321.752,10448.442,5207.273,5241.168,2279.289
37,Afghanistan,1987,9166.105,10322.758,5152.650,5170.108,2336.656
38,Afghanistan,1988,9117.520,10383.460,5188.060,5195.399,2423.368
39,Afghanistan,1989,9293.948,10673.168,5334.609,5338.559,2483.661
40,Afghanistan,1990,9655.167,10694.796,5346.409,5348.387,2593.947
41,Afghanistan,1991,10230.490,10745.167,5372.208,5372.959,2763.167
42,Afghanistan,1992,10995.568,12057.433,6028.939,6028.494,2985.663
43,Afghanistan,1993,11858.090,14003.760,7000.119,7003.641,3237.009
44,Afghanistan,1994,12690.115,15455.555,7722.096,7733.458,3482.604
45,Afghanistan,1995,13401.971,16418.912,8199.445,8219.467,3697.570
46,Afghanistan,1996,13952.791,17106.595,8537.421,8569.175,3870.093
47,Afghanistan,1997,14373.573,17788.819,8871.958,8916.862,4008.032
48,Afghanistan,1998,14733.655,18493.132,9217.591,9275.541,4130.344
49,Afghanistan,1999,15137.497,19262.847,9595.036,9667.811,4266.179

In [205]:
# Drop columns
population.drop(columns = ['Total Population - Female', 'Total Population - Male'], inplace=True)

In [206]:
# Rename columns
population.rename(columns = {'Area':'area', 'Year':'year', 'Rural population':'rural_population', 'Total Population - Both sexes':'total_population', 'Urban population': 'urban_population'}, inplace=True)

In [207]:
# Removing the name from the index column
population = population.rename_axis(None, axis=1)

In [208]:
# Checking for duplicates 
population[['area', 'year']].duplicated().value_counts()

False    39301
Name: count, dtype: int64

In [209]:
# Multiplying the population columns since the original values are in 1000s
population.loc[:, ['rural_population', 'urban_population', 'total_population']] *= 1000

In [210]:
population = population.reindex(columns=['area', 'year', 'rural_population', 'urban_population', 'total_population'])

In [211]:
# Changing data type for population columns to integer
population[['rural_population', 'urban_population', 'total_population']] = population[['rural_population', 'urban_population', 'total_population']].round()

In [212]:
population[['rural_population', 'urban_population', 'total_population']] = population[['rural_population', 'urban_population', 'total_population']].round().astype('Int64')

In [213]:
# Export the table
engine = fs.get_engine()
schema = 'capstone_envirolytics'
table_name = 'fao_population'

if engine!=None:
    try:
        population.to_sql(name=table_name, # Name of SQL table
                        con=engine, # Engine or connection
                        if_exists='replace', # Drop the table before inserting new values 
                        schema=schema, # Use schema that was defined earlier
                        index=False, # Write DataFrame index as a column
                        chunksize=5000, # Specify the number of rows in each batch to be written at a time
                        method='multi') # Pass multiple values in a single INSERT clause
        print(f"The {table_name} table was imported successfully.")
    # Error handling
    except (Exception, psycopg2.DatabaseError) as error:
        print(error)
        engine = None

The fao_population table was imported successfully.