# cleaning the data:
# # [faostat] emissions from crops

In [6]:
import pandas as pd

import _functions_sql as fs
import _functions_data_files as fdf

source_dir = 'faostat_emi_crop'

## import from CSV & general overview

In [7]:
file_name = 'Emissions_crops_E_All_Data_(Normalized).csv'
# define converters for 'read_csv' & import file
conv = {
    'Note': str # handle DtypeWarning not using 'low_memory=False' (deprecated)
                # so missing values are now read as empty string ('')
}
df_prod = pd.read_csv(
      fdf.get_file_path(file_name, source_dir)
    , encoding='latin-1' # content is not UTF-8 compatible :TODO: :FIXME: ???
    , converters=conv
)

In [8]:
df_prod.head()

,Area Code,Area Code (M49),Area,Item Code,Item Code (CPC),Item,Element Code,Element,Year Code,Year,Source Code,Source,Unit,Value,Flag,Note
0,2,'004,Afghanistan,44,'0115,Barley,72430,Crops total (Emissions N2O),1961,1961,3050,FAO TIER 1,kt,0.1141,E,
1,2,'004,Afghanistan,44,'0115,Barley,72430,Crops total (Emissions N2O),1962,1962,3050,FAO TIER 1,kt,0.1141,E,
2,2,'004,Afghanistan,44,'0115,Barley,72430,Crops total (Emissions N2O),1963,1963,3050,FAO TIER 1,kt,0.1141,E,
3,2,'004,Afghanistan,44,'0115,Barley,72430,Crops total (Emissions N2O),1964,1964,3050,FAO TIER 1,kt,0.1145,E,
4,2,'004,Afghanistan,44,'0115,Barley,72430,Crops total (Emissions N2O),1965,1965,3050,FAO TIER 1,kt,0.1145,E,

In [9]:
df_prod.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891492 entries, 0 to 891491
Data columns (total 16 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   Area Code        891492 non-null  int64
 1   Area Code (M49)  891492 non-null  object
 2   Area             891492 non-null  object
 3   Item Code        891492 non-null  int64
 4   Item Code (CPC)  891492 non-null  object
 5   Item             891492 non-null  object
 6   Element Code     891492 non-null  int64
 7   Element          891492 non-null  object
 8   Year Code        891492 non-null  int64
 9   Year             891492 non-null  int64
 10  Source Code      891492 non-null  int64
 11  Source           891492 non-null  object
 12  Unit             891492 non-null  object
 13  Value            891492 non-null  float64
 14  Flag             891492 non-null  object
 15  Note             891492 non-null  object
dtypes: float64(1), int64(6), object(9)
memory usage: 108.8+ MB

In [11]:
df_prod['Year'].unique()

array([1961, 1962, 1963, 1964, 1965, 1966, 1967, 1968, 1969, 1970, 1971,
       1972, 1973, 1974, 1975, 1976, 1977, 1978, 1979, 1980, 1981, 1982,
       1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993,
       1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004,
       2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015,
       2016, 2017, 2018, 2019, 2020, 2021, 2030, 2050])